{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Publications et critiques de livres et articles / Publications, analysis and reviews of books or articles">
    <meta name="author" content="LITRevu">
    <meta property="og:title" content="LITRevu">
    <meta property="og:description" content="Publications et critiques de livres et articles / Publications, analysis and reviews of books or articles">
    <meta property="og:image" content="{% static 'images/litrevulogotitleless.PNG' %}">
    <meta property="og:url" content="https://litrevu.dhannay.com/">
    <meta property="og:type" content="website">
    <title>{% block title %}LITRevu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/variables-wt.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block optional_css %}{% endblock %}
    <link rel="apple-touch-icon" href="{% static 'images/litrevulogotitleless.PNG' %}">
    <link rel="icon" href="{% static 'images/litrevulogotitleless.PNG' %}" type="image/x-icon">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#317EFB">
</head>
<body>

<header>
    <!-- Navigation menu -->
    <nav>
        <ul class="naviagtion-menu">
            {% if user.is_authenticated %}
            <li class="navigation-menu-left-item"><a href="/">Home</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/logout/">Logout</a></li>
            <li><a href="/users/">Users</a></li>
            {% else %}
            <li class="navigation-menu-right-item"><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="main-layout">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}   
    <main class="main-container">
        <!-- Content specific to each page will be inserted here -->
        <h2 class="main-title">
            {% block content_title %}
            {% endblock %}
        </h2>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; LITRevu Powered by Django, HDanDev 2024</p>
    </footer>
</div>

<!-- Scripts --> 
<Scripts></Scripts>
{% block js %}
{% endblock %}
</body>
</html>
