{% extends 'base_template.html' %}
{% load static %}

{% block main_content %}
    <main class="notepad">
        <div class="page right">
            <div class="page-content">
                <h2 class="main-title">
                    {% block content_title %}
                    {% endblock %}
                </h2>
                <div class="main-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="spiral single-page-spiral"></div>
    </main>
{% endblock %}
