{% extends 'base_template.html' %}
{% load static %}

{% block title %}{{ ticket.title }} Reviews{% endblock %}
{% block optional_css %}
<link rel="stylesheet" href="{% static 'css/reviews_styles.css' %}">
{% endblock %}
{% block content_title %}
Reviews for {{ ticket.title }}
{% endblock %}

{% block content %}
<ul>
    {% for review in reviews %}
    {% if not review.is_archived %}
    <li>
        <a href="{% url 'review_detail' review.pk %}">{{ review.title }}</a> by {{ review.author }} {{ review.created_at|date:"F j, Y" }}
        {% if request.user.is_authenticated %}
            {% if request.user == review.author or request.user.is_superuser %}
                <a href="{% url 'review_update' review.pk %}">Edit</a>
                <a href="{% url 'review_delete' review.pk %}">Delete</a>
            {% endif %}
        {% endif %}
        <ul>
          {% for comment in review.comments.all %}
          {% if not comment.is_archived %}
            <li>
              <h4>{{ comment.author }}</h4>
              <p>{{ comment.content }}</p>
              <p>{{ comment.created_at }}</p>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<a href="{% url 'review_create' ticket.pk %}">New Review</a>
{% endblock %}