{% extends 'single_page_template.html' %}
{% load static %}

{% block title %}{{ review.title }}{% endblock %}
{% block optional_css %}
<link rel="stylesheet" href="{% static 'css/reviews_styles.css' %}">
{% endblock %}
{% block content_title %}
{{ review.title }}
{% if request.user.is_authenticated %}
  {% if request.user == review.author or request.user.is_superuser %}
    <a href="{% url 'review_update' review.pk %}"><i class="icon-pencil"></i></a>
    <a href="{% url 'review_delete' review.pk %}"><i class="icon-bin"></i></a>
  {% endif %}
{% endif %}
{% endblock %}

{% block content %}
<p>{{ review.content }}</p>
<p>By {{ review.author.username|default:"Anonymous" }} on {{ review.created_at }}</p>
<a href="{% url 'review_list' ticket.pk %}"><i class="icon-arrow-left2"></i><i class="icon-file-text"></i></a>
{% endblock %}
