.background {
    background-color: #a3d6f3;
}

.profile-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;    
    min-width: max-content;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.button-exception {
    font-family: var(--main-font-style);
    font-size: var(--main-font-size);
    transition: color 0.3s ease-in;
}

.button-exception:hover {
    color: rgb(87, 87, 87);
}

.no-margin {
    margin: 0;
    padding: 0;
}

.margin-16 {
    margin-left: 16px;
}