.background {
    background-color: #a3d6f3;
}

ul {
    margin: 0;
    padding: 0;
}

.profile-section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;    
    /* min-width: max-content; */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.profile-info-less-padding {
    padding: 8px 0;
}

.profile-form {
    flex-direction: column;
}

.profile-form div,
.profile-form input,
.profile-form button {
    width: 100%;
}

.profile-form button i {
    margin-right: 0;
}

.button-exception {
    font-family: var(--main-font-style);
    font-size: var(--main-font-size);
    transition: color 0.3s ease-in;
}

.button-exception:hover {
    color: rgb(87, 87, 87);
}

.no-margin {
    margin: 0;
    padding: 0;
}

.margin-16 {
    margin-left: 16px;
}

#filterInput {
    margin-top: 12px;
}

.icon-search {
    top: calc(100% / 2 - 1px);
}

.d-none {
    display: none !important;
}