{% extends 'base_template.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}
{% block optional_css %}
<link rel="stylesheet" href="{% static 'css/articles_styles.css' %}">
{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>
<p>By {{ article.author.username|default:"Anonymous" }} on {{ article.created_at }}</p>
{% if request.user.is_authenticated %}
  {% if request.user == article.author or request.user.is_superuser %}
    <a href="{% url 'article_update' article.pk %}">Edit</a>
    <a href="{% url 'article_delete' article.pk %}">Delete</a>
  {% endif %}
{% endif %}
<a href="{% url 'article_list' %}">Back to Articles</a>
{% endblock %}
