{% extends 'double_page_template.html' %}
{% load static %}
{% block title %}LITRevu - Profile{% endblock %}
{% block optional_css %}
<link rel="stylesheet" href="{% static 'css/users_styles.css' %}">
{% endblock %}

{% block content_title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="profile-section">
    <span>
        Email: {{ user.email }}
        <button type="button" onclick="openModal('updateEmailModal')" class="icon-hover-box"><i class="icon-pencil"></i></button>
    </span>
</div>

<div class="profile-section">
    <span>
        Username: {{ user.username }}
        <button type="button" onclick="openModal('updateUsernameModal')" class="icon-hover-box"><i class="icon-pencil"></i></button>
    </span>
</div>

<div class="profile-section">
    <button type="button" onclick="openModal('updatePasswordModal')" class="icon-hover-box">
        <span>
            Change Password
            <i class="icon-pencil"></i>
        </span>
    </button>
</div>

<form method="post" id="updateProfileForm" method="post" action="{% url 'update_profile' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.profile_picture.id_for_label }}">Profile Picture:</label>
        <div>
        {% if user.profile.profile_picture %}
            <img id="profile-picture-preview" src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px;">
        {% else %}
            <img id="profile-picture-preview" src="{% static 'images/PPPlaceholder.PNG' %}" alt="Profile Picture" style="max-width: 200px;">
        {% endif %}        
        </div>
        {{ form.profile_picture }}
        {% if form.profile_picture.errors %}
            <div class="error">{{ form.profile_picture.errors }}</div>
        {% endif %}
    </div>
    {% comment %} <div class="form-group">
        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth:</label>
        {{ form.date_of_birth }}
        {% if form.date_of_birth.errors %}
            <div class="error">{{ form.date_of_birth.errors }}</div>
        {% endif %}
    </div> {% endcomment %}
    <button type="submit" class="icon-hover-box"><i class="icon-checkmark"></i></button>
</form>
{% endblock %}

{% block second_page_title %}
People you follow
{% endblock %}

{% block second_page_content %}
<div>
{% for user in followed_users %}
<li>
    <a href="{% url 'user_detail' user.pk %}">{{ user.username }}</a>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <button class="follow-btn icon-hover-box" data-user-id="{{ user.pk }}" data-url="{% url 'toggle_follow' user.pk %}">
        {% if user.followers_status %}
            <i class="icon-user-minus"></i>
        {% else %}
            <i class="icon-user-plus"></i>
        {% endif %}
    </button>
</li>
{% endfor %}
</div>
{% endblock %}

{% block modals %}
<div id="updateEmailModal" class="modal">
    <div class="notepad margin-auto">
        <div class="page right">
            <div class="page-content">
                <h2 class="main-title">Edit Email</h2>
                <div class="main-content">
                    <form id="updateEmailForm" method="post" onsubmit="submitForm(event, 'updateEmailForm', callbackCloseModal)" action="{% url 'update_email' %}">
                        {% csrf_token %}
                        {{ email_form.as_p }}
                        <button type="submit" name="update_email" class="icon-hover-box"><i class="icon-checkmark"></i></button>
                    </form>
                </div>
            </div>
            <i class="icon-cross close icon-hover-box" onclick="closeModal('updateEmailModal')"></i>
        </div>
        <div class="spiral single-page-spiral"></div>
    </div>
</div>

<div id="updateUsernameModal" class="modal">
    <div class="notepad margin-auto">
        <div class="page right">
            <div class="page-content">
                <h2 class="main-title">Edit Username</h2>
                <div class="main-content">
                    <form id="updateUsernameForm" method="post" onsubmit="submitForm(event, 'updateUsernameForm', callbackCloseModal, '{% url 'update_username' %}')" >
                        {% csrf_token %}
                        {{ username_form.as_p }}
                        <button type="submit" name="update_username" class="icon-hover-box"><i class="icon-checkmark"></i></button>
                    </form>
                </div>
            </div>
            <i class="icon-cross close icon-hover-box" onclick="closeModal('updateUsernameModal')"></i>
        </div>
        <div class="spiral single-page-spiral"></div>
    </div>
</div>

<div id="updatePasswordModal" class="modal">
    <div class="notepad margin-auto">
        <div class="page right">
            <div class="page-content">
                <h2 class="main-title">Edit Password</h2>
                <div class="main-content">
                    <form id="updatePasswordForm" method="post" onsubmit="submitForm(event, 'updatePasswordForm', callbackCloseModal)" action="{% url 'update_password' %}">
                        {% csrf_token %}
                        {{ password_form.as_p }}
                        <button type="submit" name="update_password" class="icon-hover-box"><i class="icon-checkmark"></i></button>
                    </form>
                </div>
            </div>
            <i class="icon-cross close icon-hover-box" onclick="closeModal('updatePasswordModal')"></i>
        </div>
        <div class="spiral single-page-spiral"></div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/profile_picture_script.js' %}"></script>
<Script src="{% static 'js/main_app_scripts.js' %}"></Script>
<script src="{% static 'js/users.js' %}"></script>
<script src="{% static 'js/user_profile_script.js' %}"></script>
{% endblock %}
