{% extends 'single_page_template.html' %}
{% load static %}
{% block title %}LITRevu - Users{% endblock %}
{% block optional_css %}
<link rel="stylesheet" href="{% static 'css/users_styles.css' %}">
{% endblock %}
{% block content_title %}
Users
{% endblock %}

{% block content %}
<input type="text" id="searchInput" oninput="searchUsers()">
<ul id="searchResults"></ul>
<ul>
    {% for user in users %}
    <li>
        <a href="{% url 'user_detail' user.pk %}">{{ user.username }}</a>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button class="follow-btn icon-hover-box" data-user-id="{{ user.pk }}" data-url="{% url 'toggle_follow' user.pk %}">
            {% if user.is_followed_by_current_user %}
                <i class="icon-user-minus"></i>
            {% else %}
                <i class="icon-user-plus"></i>
            {% endif %}
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block js %}
<script src="{% static 'js/modal_ajax_query.js' %}"></script>
<script src="{% static 'js/users.js' %}"></script>
<script src="{% static 'js/user_search.js' %}"></script>
{% endblock %}