{% extends 'double_page_template.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Ticket List{% endblock %}
{% block optional_css %}
<link rel="stylesheet" href="{% static 'css/tickets_styles.css' %}">
{% endblock %}
{% block content_title %}
Tickets
{% endblock %}
{% block content %}
{% endblock %}

{% block second_page_title %}
<span class="colour-{{ col1 }}">Tickets</span> you might like
{% endblock %}
{% block second_page_content %}
  {% if request.user.is_authenticated %}
    <button type="button" id="create-ticket-btn" name="create-ticket" class="ticket-create-btn icon-hover-box" data-item-action="{% url 'ticket_form' %}"><i class="icon-plus double-icon"></i><i class="icon-pen double-icon"></i></button>
    <ul id="tickets-list">
      {% for ticket in tickets %}
        {% if not ticket.is_archived %}
        <li id="ticket-{{ ticket.pk }}">
          <div class="item-container">
            {% if ticket.image %}
            <div class="item-background" style="background-image:url({{ ticket.image.url }})"></div>
            {% endif %}
          <h3 class="aligned item-infos">
          <a class="item-title" href="{% url 'review_list' ticket.pk %}">{{ ticket.title }}</a>
            {% if request.user == ticket.author or request.user.is_superuser %}
              <button type="button" id="edit-ticket-btn" name="edit-ticket" class="ticket-edit-btn icon-hover-box" data-item-id="{{ ticket.pk }}" data-item-name="{{ ticket.title }}" data-item-action="{% url 'ticket_update' ticket.pk %}"><i class="icon-pencil crud-btn"></i></button>
              <button type="button" id="delete-ticket-btn" name="delete-ticket" class="ticket-delete-btn icon-hover-box" data-item-id="{{ ticket.pk }}" data-item-name="{{ ticket.title }}" data-item-action="{% url 'ticket_delete' ticket.pk %}"><i class="icon-bin crud-btn"></i></button>
            {% endif %}
          </h3>
          <a class="item-infos" href="{% url 'review_list' ticket.pk %}"><p>{{ ticket.description }}</p></a>
          <div class="tag-container item-infos">
            {% for tag in ticket.tags.all %}
            <div class="tag">{{ tag.name }}</div>
            {% endfor %}
          </div>
          <div class="item-infos info-likes-block">
            <p>
              <span>Posted on {{ ticket.created_at|date:"F j, Y" }} by </span>
              {% if request.user != ticket.author %}
              <span>{{ ticket.author }}</span>    
              <button class="follow-btn icon-hover-box" data-user-id="{{ ticket.author.pk }}" data-url="{% url 'toggle_follow' ticket.author.pk %}" data-token="{{ csrf_token }}">
                {% if request.user|is_following:ticket.author %}
                  <i class="icon-user-minus"></i>
                {% else %}
                  <i class="icon-user-plus"></i>
                {% endif %}
              </button>
              {% else %}
              you
              {% endif %}
            </p>
            {% if request.user != ticket.author %}
            <div class="like-container">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <form id="like-form-{{ ticket.pk }}" method="post" action="{% url 'ticket_like' ticket.pk %}" class="like-block">
                {% csrf_token %}
                <button class="like-btn icon-hover-box"><i class="icon-heart"></i></button>
                <span class="likes-count">{{ ticket.likes_count }}</span>
              </form>
              <form id="dislike-form-{{ ticket.pk }}" method="post" action="{% url 'ticket_dislike' ticket.pk %}" class="like-block">
                {% csrf_token %}
                <button class="dislike-btn icon-hover-box"><i class="icon-heart-broken"></i></button>
                <span class="dislikes-count">{{ ticket.dislikes_count }}</span>
              </form>
            </div>
            {% endif %}
          </div>
          <ul class="item-infos reviews-list">
            {% for review in ticket.reviews.all %}
              {% if not review.is_archived %}
                <li id="review-{{ review.pk }}">
                  <div class="item-container">
                    {% if review.cover_image %}
                    <div class="item-background" style="background-image:url({{ review.cover_image.url }})"></div>
                    {% endif %}
                    <h4 class="aligned item-infos">
                      <a class="item-title icon-hover-box" href="{% url 'review_detail' review.pk %}" class="aligned icon-hover-box">
                      <span class="font-style">{{ review.title }}</span>
                      <i class="icon-eye-plus"></i>
                      </a>
                      {% if request.user == review.author or request.user.is_superuser %}
                        <button type="button" id="edit-review-btn" name="edit-review" class="review-edit-btn icon-hover-box" data-item-id="{{ review.pk }}" data-item-name="{{ review.title }}" data-item-action="{% url 'review_update' review.pk %}"><i class="icon-pencil crud-btn"></i></button>
                        <button type="button" id="delete-review-btn" name="delete-review" class="review-delete-btn icon-hover-box" data-item-id="{{ review.pk }}" data-item-name="{{ review.title }}" data-item-action="{% url 'review_delete' review.pk %}"><i class="icon-bin crud-btn"></i></button>
                      {% endif %}
                    </h4>
                    <p><a class="item-infos" href="{% url 'review_detail' review.pk %}">{{ review.content }}</a></p>
                    <p class="item-infos mini-font">
                      <span>Posted on {{ review.created_at|date:"F j, Y" }} by </span>
                      {% if request.user != review.author %}
                      <span>{{ review.author }}</span>
                      <button class="follow-btn icon-hover-box" data-user-id="{{ review.author.pk }}" data-url="{% url 'toggle_follow' review.author.pk %}" data-token="{{ csrf_token }}">
                        {% if request.user|is_following:review.author %}
                            <i class="icon-user-minus"></i>
                        {% else %}
                            <i class="icon-user-plus"></i>
                        {% endif %}
                      </button>
                      {% else %}
                      you
                      {% endif %}
                    </p>
                  <div>
                </li>
              {% endif %}
            {% endfor %}
            <button type="button" id="create-review-btn-{{ ticket.pk }}" name="create-review" class="review-create-btn icon-hover-box" data-item-action="{% url 'review_create' ticket.pk %}"><i class="icon-plus double-icon"></i><i class="icon-file-text double-icon"></i>
            {% if ticket.reviews.all|length == 0 %}
            <span class="blue">Be the first to review !</span>
            {% endif %}
          </button>
          </ul>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block modals %}

<div id="deleteTicketModal" class="modal">
  <form id="deleteTicketForm" class="notepad margin-auto" method="post">
    <div class="page right">
      <div class="page-content">
        <h2 class="main-title">Are you sure you want to delete "<span id="deleteTicketName"></span>"?</h2>
        {% csrf_token %}
        <div class="validation-btns">
          <button class="icon-hover-box cancel-footer-btn" id="deleteTicketModalCancelBtn"><i class="icon-blocked validation-icon"></i></button>
          <button class="icon-hover-box delete-footer-btn" id="deleteTicketModalConfirmBtn"><i class="icon-bin validation-icon"></i></button>
        </div>
      </div>
      <i class="icon-cross close icon-hover-box" id="deleteTicketModalCloseBtn"></i>
    </div>
    <div class="spiral single-page-spiral"></div>
  </form>
</div>

<div id="deleteReviewModal" class="modal">
  <form id="deleteReviewForm" class="notepad margin-auto" method="post">
    <div class="page right">
      <div class="page-content">
        <h2 class="main-title">Are you sure you want to delete "<span id="deleteReviewName"></span>"?</h2>
        {% csrf_token %}
        <div class="validation-btns">
          <button class="icon-hover-box cancel-footer-btn" id="deleteReviewModalCancelBtn"><i class="icon-blocked validation-icon"></i></button>
          <button class="icon-hover-box delete-footer-btn" id="deleteReviewModalConfirmBtn"><i class="icon-bin validation-icon"></i></button>
        </div>
      </div>
      <i class="icon-cross close icon-hover-box" id="deleteReviewModalCloseBtn"></i>
    </div>
    <div class="spiral single-page-spiral"></div>
  </form>
</div>

<div id="editTicketModal" class="modal">
  <form id="editTicketForm" class="notepad margin-auto" method="post">
    <div class="page right">
      <div class="page-content">
        <h2 class="main-title item-infos">"<span id="editTicketName"></span>" ticket edition</h2>
        {% csrf_token %}
        {{ ticket_update_form.non_field_errors }}
        <div class="item-infos">
          <label for="{{ ticket_update_form.title.id_for_label }}">Title:</label>
          {{ ticket_update_form.title }}
          {% if ticket_update_form.title.errors %}
            <div class="error">{{ ticket_update_form.title.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ ticket_update_form.description.id_for_label }}">Description:</label>
          {{ ticket_update_form.description }}
          {% if ticket_update_form.description.errors %}
            <div class="error">{{ ticket_update_form.description.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ ticket_update_form.tags.id_for_label }}">Tags:</label>
          {{ ticket_update_form.tags }}
          {% if ticket_update_form.tags.errors %}
            <div class="error">{{ ticket_update_form.tags.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ ticket_update_form.image.id_for_label }}">Image:</label>        
          <div>
            <img id="editTicketFormImagePreview" src="{% static 'images/PPPlaceholder.PNG' %}" alt="Profile Picture" class="image-preview">
          </div>
          {{ ticket_update_form.image.label_tag }} 
          <input type="file" name="{{ ticket_update_form.image.name }}" id="editTicketFormImageInput" class="{{ ticket_update_form.image.css_classes }}" {{ ticket_update_form.image.attrs|safe }} />
          {% if ticket_update_form.image.errors %}
            <div class="error">{{ ticket_update_form.image.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos validation-btns">
          <button class="icon-hover-box cancel-footer-btn" id="editTicketModalCancelBtn"><i class="icon-blocked validation-icon"></i></button>
          <button class="icon-hover-box confirm-footer-btn" id="editTicketModalConfirmBtn"><i class="icon-checkmark validation-icon"></i></button>
        </div>
      </div>
      <i class="icon-cross close icon-hover-box" id="editTicketModalCloseBtn"></i>
    </div>
    <div class="spiral single-page-spiral"></div>
  </form>
</div>

<div id="editReviewModal" class="modal">
  <form id="editReviewForm" class="notepad margin-auto" method="post">
    <div class="page right">
      <div class="page-content">
        <h2 class="main-title item-infos">"<span id="editReviewName"></span>" review edition</h2>
        {% csrf_token %}
        <div class="item-infos">
          <label for="{{ review_form.title.id_for_label }}">Title:</label>
          {{ review_form.title }}
          {% if review_form.title.errors %}
            <div class="error">{{ review_form.title.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ review_form.content.id_for_label }}">Content:</label>
          {{ review_form.content }}
          {% if review_form.content.errors %}
            <div class="error">{{ review_form.content.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ review_form.cover_image.id_for_label }}">Image:</label>        
          <div>
            <img id="editReviewFormImagePreview" src="{% static 'images/PPPlaceholder.PNG' %}" alt="Profile Picture" class="image-preview">  
          </div>
          {{ review_form.cover_image.label_tag }} 
          <input type="file" name="{{ review_form.cover_image.name }}" id="editReviewFormImageInput" class="{{ review_form.cover_image.css_classes }}" {{ review_form.cover_image.attrs|safe }} />
          {% if review_form.cover_image.errors %}
            <div class="error">{{ review_form.cover_image.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ review_form.rating.id_for_label }}">Rating:</label>
          <div id="editSingleRating" class="rating">
            {% for i in "543210" %}
            <input type="radio" name="rating" id="star-{{ i }}" value="{{ i }}" class="rating-edit-review-input">
            <label for="star-{{ i }}" title="{{ i }} stars" class="rating-edit-review-label">☆</label>
            {% endfor %}
        </div>
          {% if review_form.rating.errors %}
            <div class="error">{{ review_form.rating.error }}</div>
          {% endif %}
        </div>
        <div class="item-infos validation-btns">
          <button class="icon-hover-box cancel-footer-btn" id="editReviewModalCancelBtn"><i class="icon-blocked validation-icon"></i></button>
          <button class="icon-hover-box confirm-footer-btn" id="editReviewModalConfirmBtn"><i class="icon-checkmark validation-icon"></i></button>
        </div>
      </div>
      <i class="icon-cross close icon-hover-box" id="editReviewModalCloseBtn"></i>
    </div>
    <div class="spiral single-page-spiral"></div>
  </form>
</div>

<div id="createTicketModal" class="modal">
  <form id="createTicketForm" class="notepad margin-auto" method="post">
    <div id="ticketFormPage" class="page left double-page-layout">
      <div class="page-content">
          <h2 class="main-title item-infos">Ticket creation</h2>
          {% csrf_token %}
          {{ ticket_form.non_field_errors }}
          <div class="item-infos">
            <label for="{{ ticket_form.title.id_for_label }}">Title:</label>
            {{ ticket_form.title }}
            {% if ticket_form.title.errors %}
              <div class="error">{{ ticket_form.title.errors }}</div>
            {% endif %}
          </div>
          <div class="item-infos">
            <label for="{{ ticket_form.description.id_for_label }}">Description:</label>
            {{ ticket_form.description }}
            {% if ticket_form.description.errors %}
              <div class="error">{{ ticket_form.description.errors }}</div>
            {% endif %}
          </div>
          <div class="item-infos">
            <label for="{{ ticket_form.tags.id_for_label }}">Tags:</label>
            {{ ticket_form.tags }}
            {% if ticket_form.tags.errors %}
              <div class="error">{{ ticket_form.tags.errors }}</div>
            {% endif %}
          </div>
          <div class="item-infos">
            <label for="{{ ticket_form.image.id_for_label }}">Image:</label>        
            <div>
              <img id="createTicketFormImagePreview" src="{% static 'images/PPPlaceholder.PNG' %}" alt="Profile Picture" class="image-preview">      
            </div>
            {{ ticket_form.image.label_tag }} 
            <input type="file" name="{{ ticket_form.image.name }}" id="createTicketFormImageInput" class="{{ ticket_form.image.css_classes }}" {{ ticket_form.image.attrs|safe }} />
            {% if ticket_form.image.errors %}
              <div class="error">{{ ticket_form.image.errors }}</div>
            {% endif %}
          </div>
          <div class="item-infos">
            <label for="id_create_review">Create a review:</label>
            {{ ticket_form.create_review }}
          </div>
          <div class="item-infos validation-btns">
            <button type="button" class="icon-hover-box cancel-footer-btn" id="createTicketModalCancelBtn"><i class="icon-blocked validation-icon"></i></button>
            <button type="submit" class="icon-hover-box confirm-footer-btn" id="createTicketModalConfirmBtn"><i class="icon-checkmark validation-icon"></i></button>
          </div>
      </div>
  </div>      
  <div id="reviewFormPage" class="page right double-page-layout d-none">
    <div class="page-content">
        <h2 class="main-title item-infos">Review creation</h2>
        <div class="main-content">
          <div id="reviewForm">
            <div class="item-infos">
              <label for="{{ ticket_form.review_title.id_for_label }}">Title:</label>
              {{ ticket_form.review_title }}
              {% if ticket_form.review_title.errors %}
                <div class="error">{{ ticket_form.review_title.errors }}</div>
              {% endif %}
            </div>
            <div class="item-infos">
              <label for="{{ ticket_form.review_content.id_for_label }}">Content:</label>
              {{ ticket_form.review_content }}
              {% if ticket_form.review_content.errors %}
                <div class="error">{{ ticket_form.review_content.errors }}</div>
              {% endif %}
            </div>
            <div class="item-infos">
              <label for="{{ ticket_form.review_cover_image.id_for_label }}">Image:</label>        
              <div>
                <img id="reviewFormImagePreview" src="{% static 'images/PPPlaceholder.PNG' %}" alt="Profile Picture" class="image-preview">      
              </div>
              {{ ticket_form.review_cover_image.label_tag }} 
              <input type="file" name="{{ ticket_form.review_cover_image.name }}" id="reviewFormImageInput" class="{{ ticket_form.review_cover_image.css_classes }}" {{ ticket_form.review_cover_image.attrs|safe }} />
              {% if ticket_form.review_cover_image.errors %}
                <div class="error">{{ ticket_form.review_cover_image.errors }}</div>
              {% endif %}
            </div>
            <div class="item-infos">
              <label for="{{ ticket_form.review_rating.id_for_label }}">Rating:</label>
              <div id="createTicketReviewRating" class="rating">
                {% for i in "543210" %}
                <input type="radio" name="rating1" id="star1-{{ i }}" value="{{ i }}" class="rating-create-ticket-review-input">
                <label for="star1-{{ i }}" title="{{ i }} stars" class="rating-create-ticket-review-label">☆</label>
                {% endfor %}
            </div>
              {% if ticket_form.review_rating.errors %}
                <div class="error">{{ ticket_form.review_rating.error }}</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <i class="icon-cross close close-left icon-hover-box" id="createTicketModalCloseBtn"></i>
    <div id="spiralDoublePage" class="spiral double-page-spiral-modal"></div>
  </form>
</div>

<div id="createReviewModal" class="modal">
  <form id="createReviewForm" class="notepad margin-auto" method="post">
    <div class="page right">
      <div class="page-content">
        <h2 class="main-title item-infos">Review creation</h2>
        {% csrf_token %}
        <div class="item-infos">
          <label for="{{ review_form.title.id_for_label }}">Title:</label>
          {{ review_form.title }}
          {% if review_form.title.errors %}
            <div class="error">{{ review_form.title.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ review_form.content.id_for_label }}">Content:</label>
          {{ review_form.content }}
          {% if review_form.content.errors %}
            <div class="error">{{ review_form.content.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ review_form.cover_image.id_for_label }}">Image:</label>          
          <div>
            <img id="createReviewFormImagePreview" src="{% static 'images/PPPlaceholder.PNG' %}" alt="Profile Picture" class="image-preview">    
          </div>
          {{ review_form.cover_image.label_tag }} 
          <input type="file" name="{{ review_form.cover_image.name }}" id="createReviewFormImageInput" class="{{ review_form.cover_image.css_classes }}" {{ review_form.cover_image.attrs|safe }} />
          {% if review_form.cover_image.errors %}
            <div class="error">{{ review_form.cover_image.errors }}</div>
          {% endif %}
        </div>
        <div class="item-infos">
          <label for="{{ review_form.rating.id_for_label }}">Rating:</label>
          <div id="createSingleRating" class="rating">
            {% for i in "543210" %}
            <input type="radio" name="rating" id="star-{{ i }}" value="{{ i }}" class="rating-create-single-input">
            <label for="star-{{ i }}" title="{{ i }} stars" class="rating-create-single-label">☆</label>
            {% endfor %}
        </div>
          {% if review_form.rating.errors %}
            <div class="error">{{ review_form.rating.error }}</div>
          {% endif %}
        </div>
        <div class="item-infos validation-btns">
          <button class="icon-hover-box cancel-footer-btn" id="createReviewModalCancelBtn"><i class="icon-blocked validation-icon"></i></button>
          <button class="icon-hover-box confirm-footer-btn" id="createReviewModalConfirmBtn"><i class="icon-checkmark validation-icon"></i></button>
        </div>
      </div>
      <i class="icon-cross close icon-hover-box" id="createReviewModalCloseBtn"></i>
    </div>
    <div class="spiral single-page-spiral"></div>
  </form>
</div>

{% endblock %}

{% block js %}
<script>
  const ticketsData = [
  {% for ticket in tickets %}
  {
      id: "{{ ticket.pk }}",
      title: "{{ ticket.title|escapejs }}",
      description: "{{ ticket.description|escapejs }}",
      image: "{% if ticket.image %}{{ ticket.image.url }}{% else %}/static/images/litrevulogotitleless.PNG{% endif %}",
      tags: "{{ ticket.tags.all|join:',' }}"
  },
  {% endfor %}
];
{% comment %} tags: {% endcomment %}
const reviewsData = [
{% for ticket in tickets %}
{% for review in ticket.reviews.all %}
{
    id: "{{ review.pk }}",
    title: "{{ review.title|escapejs }}",
    content: "{{ review.content|escapejs }}",
    cover_image_url: "{% if review.cover_image %}{{ review.cover_image.url }}{% else %}/static/images/litrevulogotitleless.PNG{% endif %}",
    rating: "{{ review.rating }}"
},
{% endfor %}
{% endfor %}
];
</script>
<script src="{% static 'js/modal_ajax_query.js' %}"></script>
<script src="{% static 'js/tickets_script.js' %}"></script>
{% endblock%}
